<div class="row">
  <div class="col-md-12">
    <div class="col-md-6 col-md-offset-3 well">
      <legend>All Users</legend>
      <table width="100%">
        <caption>table title and/or explanatory text</caption>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <%= render @users %>
        </tbody>
      </table>
    </div>
  </div>
</div>
